VITE_API_URL=https://your-domain.example/api
VITE_APP_VERSION=v1.0.3
# (Tùy chọn) Domain công khai của trang web, nếu không đặt sẽ tự động nhận diện theo window.location.origin
# VITE_PUBLIC_URL=https://your-frontend-domain.com
